* {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "head head head"
    "portait portait portait"
    "main main main"
    "final final final";
  background-color: black;
}
a {
  color: #fff;
}

/* NAVBAR */
#head {
  grid-area: head;
  color: #fff;
  width: 100%;
  height: 100vh;
  background-image: url(../img/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(0.9);
}
#head nav {
  position: relative;
  display: flex;
  height: 150px;
  align-items: center;
}
nav .content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
nav .content .links {
  display: flex;
  align-self: center;
  margin: 0 30px;
  justify-content: space-between;
}
nav .content .logo a {
  color: #fff;
  font-size: 50px;
  text-decoration: none;
  width: 341px;
  margin: 0 25px;
  text-align: center;
}
.content .links li {
  list-style: none;
}
.content .links li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  transition: all 1s ease;
}
.content .links li:hover a {
  filter: drop-shadow(10px 10px 15px black);

}
.content .links li:visited a {
  text-decoration: none;
  color: #fff;
}

/*HAMBURGER MENU*/
#head .menu-icon {
  font-size: 20px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
  display: none;
}
#head input[type="checkbox"] {
  display: none;
}

/* PRINCIPAL PAGE */
.main-page {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.title {
  display: flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items: center;
  min-width: 100%;
  max-height: 420px;
  padding: 30px;
  margin: auto;
  font-size: 60px;
  text-align: center;
  color: #fff;
}
#Dakar {
    background: linear-gradient(#000, #aa3e08, #000);
}
.dakar {
  padding: 10px;
  text-align: center;
  padding: 2px;
}
#WRC {
    background: linear-gradient(#000, #FC4C02, #000);
}
.WRC img {
  display: block;
  max-width: 200px;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2px;
}
#RallyArg{
    background:linear-gradient(#000, #04A5DC, #000);
}
.RallyArg {
  align-items: center;
  text-align: center;
  padding: 2px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-container {
  display: flex;
  justify-content: center;
  max-width: 650px;
  max-height: 420px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.zoom {
  max-width: 650px;
  max-height: 420px;
  transition: 0.7s ease-in-out;
  opacity: calc(0.5);
  filter: blur(2px);
}
.zoom:hover {
  transform: scale(1.14);
  box-shadow: none;
  opacity: inherit;
  filter: blur(0);
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  display: none;
}

/* MODAL IMAGE */
.main-page .modal-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.main-page .modal-image span {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 45px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.main-page .modal-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

/* ABOUT ME */
/* .separate {
  height: 120px;
} */
.about-me{
  width: 80%;
  margin: auto;
  color:antiquewhite;
  text-align: justify;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.05cm;
}

/* FORM*/
.form-content {
  width: 95%;
  height: 95vh;
  margin: 5% 2.5%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
}
.form-title {
  margin: 15px;
  font-size: 30px;
  text-align: center;
}
.form-group input,
textarea {
  width: 90%;
  height: auto;
  margin: 1.5% 5%;
  color: #fff;
  font-size: larger;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}
textarea {
  border: 1px solid grey;
}
.form-group input[type="submit"] {
  color: #fff;
  font-size: larger;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* GO UP */
.mybtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #b3140c;
  color: white;
  cursor: pointer;
  padding: 15px 18px;
  border-radius: 10px;
  font-size: 18px;
}

/* FOOTER */
#final {
  grid-area: final;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;
  padding: 10px;
  border-top: 2px solid #fff;
  color: #fff;
}
.social {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.social li {
  list-style: none;
  padding: 0 10px;
}
.social li a {
  text-decoration: none;
}
.inst-icon {
  display: block;
  max-height: 25px;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
  .main-page .modal-image img {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "portait"
      "main"
      "final";
  }
  .main-page .modal-image img {
    max-width: 95%;
  }
}
